{% extends 'main.html' %}
{% block sidebar %}
{% include 'recruter/navbar.html' %}
{% endblock %}
{% block content %}

<div class="page-wrapper">

    <div class="content container-fluid">

    <div class="content">
        <div  class="one border shadow p-4 rounded">
            <div class="container">
                <form action="" method="post" id="myform">
                    {% csrf_token %}
                    <hr class="my-4 blue-line">
                    <div class="mb-2">
                        <label for="name" class="form-label text-muted">Company name <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="name" name="name" value="{{ company.name }}">
                        <span id="span1"></span>
                    </div>
                    <br>
                    <div class="mb-2">
                        <label for="nom" class="form-label text-muted">Contact Person name <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="nom" name="Contact_Person_name" value="{{ company.person_name }}">
                        <span id="span2"></span>
                    </div>
                    <div class="mb-1">
                        <label for="email" class="form-label text-muted">Contact Person email <span class="text-danger">*</span></label>
                        <input type="email" class="form-control" id="email" name="Contact_Person_email" value="{{ company.person_email }}">
                        <span id="span3"></span>
                    </div>
                    <div class="mb-1">
                        <label for="tel" class="form-label text-muted">Contact Person phone number <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" placeholder="&#x1F1F2;&#x1F1E6;+212" id="tel" name="tel" value="{{ company.tel }}">
                        <span id="span4"></span>
                    </div>
                    <div class="mb-1">
                        <label for="address" class="form-label text-muted">Address:<span class="text-danger">*</span></label>
                        <input type="adress" class="form-control" id="address" name="address" value="{{ company.address }}">
                        <span id="span5"></span>
                    </div>
                    <div class="mb-1">
                        <label for="pays" class="form-label text-muted">pays:<span class="text-danger">*</span></label>
                        <input type="adress" class="form-control" id="pays" name="pays" value="{{ company.pays }}">
                        <span id="span5"></span>
                    </div>
                    <br>
                    <hr class="my-4 blue-line">
                    <button type="submit" class="btn btn-primary" name="confirmer4" id="suivant">confirmer</button>
                </form>
            </div>
        </div>
        
    </div>
</div>
</div>
</div>

{% endblock %}
