{% extends 'main.html' %}
{% block sidebar %}
{% include 'recruter/navbar.html' %}
{% endblock %}
{% block content %}
<div class="page-wrapper">

    <div class="content container-fluid">
<div  class="two border shadow p-4 rounded">
    <div class="container">
        <form action="" method="post" id="myform">
            {% csrf_token %}
            <hr class="my-4 blue-line">
            <div class="mb-1">
                <label for="old_pass" class="form-label text-muted">Ancien mot de pass <span class="text-danger">*</span></label>
                <input type="password" class="form-control" id="old_pass" name="op">
                <span id="span1"></span>
            </div>
            <br>
            <div class="mb-1">
                <label for="new_pass" class="form-label text-muted">nouveau mot pass<span class="text-danger">*</span></label>
                <input type="password" class="form-control" id="new_pass" name="np">
                <span id="span2"></span>
            </div>
            <br>
            <div class="mb-1">
                <label for="confirm_new_pass" class="form-label text-muted"> confirmer nouveau mot pass<span class="text-danger">*</span></label>
                <input type="password" class="form-control" id="confirm_new_pass" name="c_np">
                <span id="span2"></span>
            </div>
            <br>
            <hr class="my-4 blue-line">
            <button type="submit" class="btn btn-primary" name="confirmer4" id="suivant">confirmer</button>
        </form>
    </div>
</div>
</div>
</div>
{% endblock content %}