{% extends 'main.html' %}
{% block sidebar %}
{% include 'recruter/navbar.html' %}
{% endblock %}
{% block content %}
<div class="page-wrapper">

    <div class="content container-fluid">
  <div class="container green-line">
    <div class="border shadow p-3 rounded"  style="height:590px;"  action="process.php" method="post" id="myform">
      
      <hr class="my-4 blue-line">
  
  <div class="mb-3" >
        
  <div class="row">
  <div class="col-md-6">
  <div class="list-group">
  <div class="list-group-item">
  <h4 style="color:grey;font-size:20px" class="list-group-item-heading">Email</h4>
  <p class="list-group-item-text">{{ company.person_email }}</p>
  </div>
  <div class="list-group-item">
  <h4 class="list-group-item-heading" style="color:grey;font-size:20px" >companynom</h4>
  <p class="list-group-item-text">{{ company.name }}</p>
  </div>
  <div class="list-group-item">
  <h4 class="list-group-item-heading" style="color:grey;font-size:20px">personname</h4>
  <p class="list-group-item-text">{{ company.person_name }}</p>
  </div>
  
  </div>
  </div>
  <div class="col-md-6">
  <div class="list-group">
  <div class="list-group-item">
  <h4 class="list-group-item-heading" style="color:grey;font-size:20px" >GSM</h4>
  <p class="list-group-item-text">{{ company.tel }}</p>
  </div>
  <div class="list-group-item">
  <h4 class="list-group-item-heading" style="color:grey;font-size:20px" >address</h4>
  <p class="list-group-item-text">{{ company.address }}</p>
  </div>
  <div class="list-group-item">
  <h4 class="list-group-item-heading" style="color:grey;font-size:20px" >Pays</h4>
  <p class="list-group-item-text">{{ company.pays }}</p>
  </div>
  
  </div>
  </div>
  </div>
  
  
        
      <br>
      <hr class="my-4 blue-line">
      <div class="d-flex justify-content-around">
  
  <a class="btn btn-success dim" href="{% url 'updatecom' %}">
  <i class="fa fa-pencil"></i> Modifier </a>
  </div>
      
       
      </div>
  
  </div>
</div>
</div>
{% endblock content %}