    
{% extends 'main.html' %}
{% block sidebar %}
{% include 'candidat/navbar.html' %}
{% endblock %}

{% block content %}
<section>
  <div class="page-wrapper">

    <div class="content container-fluid">
<div class="container green-line" >
  <form class="border shadow p-3 rounded"  action="" method="post" id="myform" style=" height: 976px;">
    {% csrf_token %}
    <h4 class="text-muted"> <i style="padding-right: 4px; font-size: 20px;"  class="fa fa-user-circle"></i>Informations personnelles</h4>
    <hr class="my-4 blue-line">
    <div class="mb-2">
      <label for="genre" class="form-label text-muted">Genre <span class="text-danger">*</span></label>
      <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="genre" value="male" {% if profile.genre == 'male' %}checked{% endif %}>
          <label class="form-check-label text-muted" for="male">Homme</label>
      </div>
      <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="" name="genre" value="female" {% if profile.genre == 'female' %}checked{% endif %}>
          <label class="form-check-label text-muted" for="female">Femme</label>
      </div>
  </div>
  
    
    <div class="mb-2 ">
      
      <label for="nom" class="form-label text-muted">Nom <span class="text-danger">*</span></label>
      <input type="text" class="form-control" id="nom"  name="nom" value="{{profile.last_name}}">
      <span id="span1"></span>
    </div>
    
    <div class="mb-1">
      <label for="prenom" class="form-label text-muted">Prenom <span class="text-danger">*</span></label>
      <input type="text" class="form-control" id="prenom" name="prenom" value="{{profile.name}}" >
      <span id="span2"></span>
    </div>
    <div class="mb-1">
      <label for="email" class="form-label text-muted">Email<span class="text-danger">*</span></label>
      <input type="text" class="form-control" id="email" name="email" value="{{profile.email}}" >
      <span id="span2"></span>
    </div>
    <div class="mb-1">
      <label for="date" class="form-label text-muted">Date de naissance <span class="text-danger">*</span></label>
      <input type="date" class="form-control" id="date" name="date" value="{{ profile.date_naissance }}">
      <span id="span5"></span>
  </div>
  
    <div class="mb-1">
      <label for="text" class="form-label text-muted">Ville <span class="text-danger">*</span></label>
      <input type="text" class="form-control" id="ville" name="ville" value="{{profile.ville}}">
      <span id="span4"></span>
    </div>
    <div class="mb-1">
      <label for="text" class="form-label text-muted">Pays <span class="text-danger">*</span></label>
      <input type="text" class="form-control" id="pays" name="pays" value="{{profile.pays}}">
      <span id="span4"></span>
    </div>
    <div class="mb-1">
      <label for="tel" class="form-label text-muted" >phone number <span class="text-danger">*</span></label>
     
      <input type="tel" class="form-control"  name="tel" id="tel" placeholder="&#x1F1F2;&#x1F1E6;+212" value="{{profile.tel}}">
      <span id="span3"></span>

    </div>
    <br>
    <br>
    <div class="mb-2">
  <label for="select" class="form-label text-muted">Domaine <span class="text-danger">*</span></label>
  <select class="form-select" id="select" name="select">
    <option value="{{ profile.domaine }}" selected>{{ profile.domaine }}</option>
    <option disabled>Choisissez un domaine</option>
    <option value="Achat">Achat</option>
    <option value="Administratif">Administratif</option>
    <option value="Agricole">Agricole</option>
    <option value="Alimentation">Alimentation</option>
    <option value="Aménagement">Aménagement</option>
    <option value="Architecture">Architecture</option>
    <option value="Artisanat">Artisanat</option>
    <option value="Assurance">Assurance</option>
    <option value="Banque">Banque</option>
    <option value="Btp">Btp</option>
    <option value="Chimie">Chimie</option>
    <option value="Commerce">Commerce</option>
    <option value="Communication">Communication</option>
    <option value="Comptabilité">Comptabilité</option>
    <option value="Culture">Culture</option>
    <option value="Digital">Digital</option>
    <option value="Droit">Droit</option>
    <option value="Economie">Economie</option>
    <option value="Edition">Edition</option>
    <option value="Emploi public">Emploi public</option>
    <option value="Enseignement">Enseignement</option>
    <option value="Environnement">Environnement</option>
    <option value="Finance">Finance</option>
    <option value="Gestion">Gestion</option>
    <option value="Grande distribution">Grande distribution</option>
    <option value="Hôtellerie">Hôtellerie</option>
    <option value="Immobilier">Immobilier</option>
    <option value="Industrie">Industrie</option>
    <option value="Informatique">Informatique</option>
    <option value="Ingénierie">Ingénierie</option>
    <option value="Logistique">Logistique</option>
    <option value="Marketing">Marketing</option>
    <option value="Mécanique">Mécanique</option>
    <option value="Médias">Médias</option>
    <option value="Petite enfance">Petite enfance</option>
    <option value="Physique">Physique</option>
    <option value="Propreté">Propreté</option>
    <option value="Ressources humaines">Ressources humaines</option>
    <option value="Restauration">Restauration</option>
    <option value="Santé">Santé</option>
    <option value="Secrétariat">Secrétariat</option>
    <option value="Sécurité">Sécurité</option>
    <option value="Service clientèle">Service clientèle</option>
    <option value="Services à la personne">Services à la personne</option>
    <option value="Social">Social</option>
    <option value="Télécommunications">Télécommunications</option>

    <option value="Tourisme">Tourisme</option>
    <option value="Transport">Transport</option>
    <option value="Vente">Vente</option>
    
</select>
<span id="span6"></span>
    <br>
    <hr class="my-4 blue-line">
    <button type="submit" class="btn btn-primary" name="suivant" id="suivant" >Suivant</button>  
    
  </form>

</div>
</section>
</div>
</div>

{% endblock %}

{% block javascript %}

<!-- Include jQuery for AJAX -->
<script>
  $(document).ready(function () {
    $("#suivant").click(function (event) {
        event.preventDefault();  // Prevent the default form submission

        const formData = new FormData(document.getElementById('myform'));

        // Send AJAX request to profile_form view
        $.ajax({
            type: "POST",
            url: "{% url 'profile_form' %}",
            data: formData,
            processData: false,
            contentType: false,
            success: function (data) {
                console.log(data);
                if (data['status'] === 'success') {  // Update this line
                    alert('Profile modified successfully');
                    // Redirect to the 'settings' page
                    window.location.href = "{%url 'settingscan' %}";
                } else {
                    // Handle other cases if needed
                    alert('Profile not modified successfully');
                    
                }
            },
            error: function (xhr, textStatus, errorThrown) {
                // Handle error
                alert('Error modifying profile');
            }
        });
    });
});

</script>
{% endblock %}



















